# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Data (important)
data/raw/
data/processed/
data/embeddings/

# Vector DB
*.faiss
*.db
*.pkl

# Obsidian
.obsidian/

# OS files
.DS_Store
Thumbs.db
